ul {
    width: 25em;
    height: 20em;
    line-height: 2em;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

li {
    background-color: transparent;
    list-style-type: none;
}

li:hover {
    background-color: slategrey;
}

.selected {
    background-color: slategrey;
}

mark {
    background-color: transparent;
    color: teal;
}